.filters{
    display: flex;
    flex-wrap: wrap; 
    // justify-content: center;
    margin-bottom: 41px; 
    &__item:not(:last-child){
    margin-right: 8px; 
 
}
}
.filters__item{
    margin-bottom: 15px;
}
