.footer{
    background-color:var(--bg-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.down{
    text-align: center;
    
    @media screen and (min-width: 1200px){
        margin-right: 70px;
        text-align: start;
    }

}
.info{
    @media screen and (min-width: 1200px){
        display: flex;
        align-items: baseline;
    }
    
    &:not(:last-child){
     @media screen and (min-width:768px){
        display: flex;
     }
    }
  
}
.footer__group{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 165px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        margin-right: auto;
    }
}
.footer-field{
    text-align: center;

    @media screen and (min-width:1200px){
        text-align: start;
     }
}
