.footer{
    background-color:var(--bg-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.down{
    // margin-right: 70px;
    text-align: center;
}
.info{
    // display: flex;
    // align-items: baseline;
}