.header{
    border-bottom: 1px solid #ECECEC;
    position: relative;
    
}
.major{
    display:flex;
    align-items: center;
    
    @media screen and (min-width: 480px){
      
    }
    &__nav{
    
    width: 480px;
    min-height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 480px){
        
    }
}
}

