.header{
    border-bottom: 1px solid #ECECEC;
    position: relative;
    
}
.major{
   display:flex;
   align-items: center;
    
    &__nav{
     display: flex;
        align-items: center;
        @media screen and (max-width: 767px){
            width: 480px;
        min-height: 80px;
        margin-bottom: auto;
    }
}
}

