.work_section{
    @media screen and (max-width: 1199px){
        display: none;
    }
}
.work{
    display: flex;

    &__descr{
    display: inline-block;
    position: absolute;
    bottom:0;
    left:0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color:  rgba(47, 48, 58, 0.8);}

    &__text{
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
    }
    @media screen and (min-width: 480px){
        
    }
}
.work__foto{
    position: relative;
    width: 370px;
    margin-right: 0;
    margin-right: 30px;
    &:last-child{
    margin-right: 0;
}

}


