:root{
    --primary-text-color:#757575 ;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --black: #000000;
    --bg-color:#F5F5F5;
    --bg-color-dark: #2F303A;
    --bg-color-misty: #F5F4FA;
    --color-addr-footer: rgba(255, 255, 255, 0.6);
    --portfolio-card-gap: 30px;
}
